.form-dialogs {
    display: block;
    width: 100%;
    padding-top: 50px;
}

.form-dialogs__textarea {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: 1px solid #666;
}

.form-dialogs__button {
    display: block;
    width: fit-content;
    min-width: 200px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    background-color: var(--color-view-navbar);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
