* {
    box-sizing: border-box;
}

:root {
    --color-view-header: #377079;
    --color-view-navbar: #377079;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

textarea::placeholder {
    font-family: Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-areas: "header header" "navbar main";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.main {
    grid-area: main;
    padding-bottom: 50px;
    height: calc(100vh - 70px);
    overflow: auto;
}

::-webkit-scrollbar { width: 3px; }
::-webkit-scrollbar-thumb { background-color: #c1c1c1; border-radius: 3px;}
::-webkit-scrollbar-button { height: 0; }
::-webkit-scrollbar-track-piece { background-color: #ffffff;}